footer.footer
    .footer__top
        .footer__left
            ul.footer__menu
                li.footer__menu-link
                li.footer__menu-link
                li.footer__menu-link
                li.footer__menu-link
        .footer__right
            ul.social__list
                li.social__item
                    a.social__link.vk
                li.social__item
                    a.social__link.git
                li.social__item
                    a.social__link.in
    .footer__bottom
        .footer__left
            p.footer__text Я веб разработчик из Минска, и этот сайт я сделал в рамках обучения
            | в Школе онлайн образования Loftschool.
        .footer__right
            p.footer__copyright Марков Максим | создано с любовью в Loftschool | 2017