header.header
    .header__top
        .header__left
            include _socials
        .header__right
            include _menu.pug
    .header__about-dev
        .about-dev__photo-wrap
            img.about-dev__photo-img(src='#' alt=name)
        .about-dev__name=name
        .about-dev__text Личный сайт веб разработчика
    .header__triangle
        a.header__link-arrow(href='#')