mixin svg (className, fileName)
    svg(class=className)
        use(xlink:href=`/assets/img/sprite.svg#${fileName}`)

ul.social__list
    li.social__item
        a.social__link.vk(target='_blank' href='https://vk.com')
            +svg('social__svg','vk')
    li.social__item
        a.social__link.git(target='_blank' href='https://github.com')
            +svg('social__svg','github')
    li.social__item
        a.social__link.in(target='_blank' href='https://linkedin.com')
            +svg('social__svg','in')
