extends ../_template

block variables
    - var title = 'Обо мне'
    - var name = 'Марков Максим'

block content
    section.about
        .about__left
            .about__title-bg
                +svg('title-bg__svg','about_header')
                h1.about__title=title
            .about__descr
                .about__photo
                    img.about__photo-img(src="assets/img/photo.jpg")
                .about__who Кто я
                .about__text
                    | Я веб разработчик из Минска. Мне 25 лет.
                    | Я занимаюсь разработкой современных сайтов и приложений.
                    | Мне нравится делать интересные и современные проекты.
                .about__text
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                    | Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about__right
            .skills__title.skills__title-add Чем я могу быть
            .skills__title Вам полезен
            p.skills__desc Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            .skills
            .skills__group
                .skills__group-title Frontend
                ul.skills__list
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-75(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title HTML5
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-75(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title CSS3
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-55(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title JavaScript & jQuery
            .skills__group
                .skills__group-title Backend
                ul.skills__list
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-20(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title PHP
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-15(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title MySQL
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-35(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title Node.js & npm
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-0(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title Mongo.db
            .skills__group
                .skills__group-title Workflow
                ul.skills__list
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-50(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title Git
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-70(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title Gulp
                    li.skills__item
                        .skill
                            svg.skill__circle
                                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                circle.circle__second.circle-75(r='45', cx='50%', cy='50%', transform='rotate(-90 45 45)')
                            .skill__title Bower
    section.contacts
        .contacts__map
        .contacts__block
            .contacts__title Контакты
            ul.contacts__list
                li.contacts__item
                    a.contacts__link.skype(href='skype:cmr.g1ps')
                        +svg('contacts__link-skype','skype')
                        | cmr.g1ps
                li.contacts__item
                    a.contacts__link.mail(href='mailto:markovmaximm@gmail.com')
                        +svg('contacts__link-mail','envelope')
                        | markovmaximm@gmail.com
                li.contacts__item
                    a.contacts__link.phone(href='#')
                        +svg('contacts__link-phone','phone')
                        | +7 931 200 93 24
                li.contacts__item
                    a.contacts__link.adress(href='#')
                        +svg('contacts__link-map','map_marker')
                        | г. Минск ул. Кижеватова д.78