extends ../_template

block variables
    - var title = 'Обо мне'
    - var name = 'Марков Максим'

block content
    section.about
        .about__left
            .about__title
            .about__descr
                .about__photo
                .about__who
                .about__text
                .about__text
        .about__right
            p.skills__title.skills__title-add Чем я могу быть
            p.skills__title Вам полезен
            p.skills__desc Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            .skills__group Frontend
                ul.skills__list
                    li.skills_item
                    li.skills_item
                    li.skills_item
            .skills__group Backend
                ul.skills__list
                    li.skills_item
                    li.skills_item
                    li.skills_item
                    li.skills_item
            .skills__group Workflow
                ul.skills__list
                    li.skills_item
                    li.skills_item
                    li.skills_item
    section.contacts
        .contacs__block
            p.contacts__title
            ul.contacts__list
                li.contacts__item
                    a.contacts__link.skype(href='#')
                li.contacts__item
                    a.contacts__link.mail(href='#')
                li.contacts__item
                    a.contacts__link.phone(href='#')
                li.contacts__item
                    a.contacts__link.adress(href='#')