extends ../_template

block variables
    - var title = 'Мои работы'
    - var name = 'Марков Максим'

block content
    section.portfolio
        .portfolio__top
            +svg('portfolio__title-bg','works_header')
            h1.base-title.portfolio__title=title
        .portfolio__slider
            .slider__left
                .slider__display
                    img.slider__display-img(src="assets/img/works/work_img_1.png")
                .slider__info
                    .slider__info-item.active(data-img="assets/img/works/work_img_1.png" data-id="work1")
                        .base-title.slider__info-title Сайт доставки бургеров
                        .slider__info-tech html, sass, javascript, one page scroll
                        a.slider__info-btn.btn(href='./burgers/' target='_BLANK')
                            +svg('info-btn__svg','link')
                            | Посмотреть сайт
                    .slider__info-item(data-img="assets/img/works/work_img_2.png" data-id="work2")
                        .base-title.slider__info-title Сайт портфолио
                        .slider__info-tech html, sass, javascript
                        a.slider__info-btn.btn(href='./portfolio_old/' target='_BLANK')
                            +svg('info-btn__svg','link')
                            | Посмотреть сайт
                    .slider__info-item(data-img="assets/img/works/work_img_3.png" data-id="work3")
                        .base-title.slider__info-title Сайт школы онлайн образования
                        .slider__info-tech html, sass, javascript
                        a.slider__info-btn.btn(href='#')
                            +svg('info-btn__svg','link')
                            | Посмотреть сайт
                    .slider__info-item(data-img="assets/img/works/work_img_4.png" data-id="work4")
                        .base-title.slider__info-title Trialog Group design
                        .slider__info-tech html, sass, javascript
                        a.slider__info-btn.btn(href='#')
                            +svg('info-btn__svg','link')
                            | Посмотреть сайт
            .slider__right
                .slider__arrows
                    .slider__arrow.arrow-prev
                        .slider__arrow-imgs
                            img.slider__arrow-img(data-id='work3' src="assets/img/works/work_img_3.png")
                            img.slider__arrow-img(data-id='work2' src="assets/img/works/work_img_2.png")
                            img.slider__arrow-img( data-id='work1' src="assets/img/works/work_img_1.png")
                            img.slider__arrow-img( data-id='work4' src="assets/img/works/work_img_4.png")
                        .arrow-bg.arrow-prev__bg
                            +svg('arrow-bg__svg','portf_arrow_down')
                    .slider__arrow.arrow-next
                        .slider__arrow-imgs
                        .arrow-bg.arrow-next__bg
                            +svg('arrow-bg__svg','portf_arrow_up')
    section.reviews
        .reviews__title
            +svg('reviews__title-svg','about_header')
            h2.base-title.reviews__title-text Что обо мне говорят
        .reviews__main
            ul.reviews__list
                li.reviews__item
                    .reviews__quotes
                        +svg('reviews__quotes-svg','quote-left')
                    .reviews__text
                        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
                        | 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__person
                        .reviews__person-photo
                            img.person-photo__img(src="assets/img/photo_kovalchuk.jpg")
                        .reviews__person-descr
                            .reviews__person-name Дмитрий Ковальчук
                            .reviews__person-work основатель Loftschool
                li.reviews__item
                    .reviews__quotes
                        +svg('reviews__quotes-svg','quote-right')
                    .reviews__text
                        | Этот код выдержит любые испытания.
                        | Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .reviews__person
                        .reviews__person-photo
                            img.person-photo__img(src="assets/img/photo_sabancev.jpg")
                        .reviews__person-descr
                            .reviews__person-name Сабанцев Владимир
                            .reviews__person-work преподаватель
        .contact
            form.contact__form
                .contact__form-wrap
                    .form__blur
                    .form__main
                        .base-title.form__title Связаться со мной
                        input.form__inp.form__name(type='text' name='name' placeholder='Имя' )
                        input.form__inp.form__email(type='email' name='email' placeholder='Email' )
                        textarea.form__inp.form__textarea(name='text' placeholder='Ваше сообщение' )
                    .form__buttons
                        button.form__button.form__submit(type='submit' name='submit' value='') Отправить
                        button.form__button.form__reset(type='reset' name='reset' value='') Очистить
        .reviews__link
            a.reviews__link-arrow(href='#')
                +svg('link-arrow__svg','arrow_down')
