
doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="Марков Максим" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='/assets/css/main.css')
        script(src='/assets/js/foundation.js' defer)
        script(src='/assets/js/app.min.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        .paralax
            .paralax__layer.paralax__layer-0
            .paralax__layer.paralax__layer-1
            .paralax__layer.paralax__layer-2
            .paralax__layer.paralax__layer-3
            .paralax__layer.paralax__layer-4
            .paralax__layer.paralax__layer-5
            .paralax__layer.paralax__layer-6
            .paralax__layer.paralax__layer-7
            .paralax__layer.paralax__layer-8
            .paralax__layer.paralax__layer-9
        .wrapper.welcome-wrap
            a.auth__btn.btn(href="#") Авторизоваться
            .hero__welcome
                .welcome
                    .welcome__photo-wrap
                        img.welcome__img(src='assets/img/photo.jpg')
                    h1.welcome__name=name
                    h2.welcome__text=title
                    include ../common/_socials
                    .welcome__bottom
                        a.welcome__link(href='works') Мои работы
                        a.welcome__link(href='about') Обо мне
                        a.welcome__link(href='blog') Блог
                .welcome__login
                    form.welcome__login-form.auth
                        .login-form__wrap
                            .login-form__title.base-title Авторизуйтесь
                            .login-form__input-wrap
                                .login-form__input-icon
                                    +svg('input-icon__login','login')
                                input.form__input.form__inp(name='login' type='text' placeholder='Логин' required)
                            .login-form__input-wrap
                                .login-form__input-icon
                                    +svg('input-icon__password','password')
                                input.form__input.form__inp(name='password' type='password' placeholder='Пароль' required)
                            .login-form__captcha
                                label.captcha
                                    input.captcha__checkbox(type="checkbox" name="captcha" value="check")
                                    span.captcha__fake-checkbox.captcha__input
                                    span.captcha__text Я человек
                            .login-form__add-captcha
                                .add-captcha__title Вы точно не робот?
                                .add-captcha__buttons
                                    label.add-captcha__btn
                                        input.add-captcha__radio(type='radio' name='add-captcha' value='yes')
                                        span.add-captcha__fake-radio.captcha__input
                                        span.add-captcha__text Да
                                    label.add-captcha__btn
                                        input.add-captcha__radio(type='radio' name='add-captcha' value='no')
                                        span.add-captcha__fake-radio.captcha__input
                                        span.add-captcha__text Не уверен
                        .login-form__btns
                            a#on__front.login-form__btn(href='#') На главную
                            button.login-form__btn(type="submit") Войти
            .welcome__copyright.copyright © #{name} | создано с любовью в LoftSchool | 2017
        include ../common/_preloader