*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
  font-size: 16px;
  position: relative;
  background: #ffffff;
  font-family: "Roboto-Regular", Arial, sans-serif;
  color: $asphalt
}
html{
  @include tablet{
    font-size:15px;
  }
  @include phones{
    font-size:14px;
  }
}
.wrapper{
  min-height:100%;
  overflow: hidden;
  position: relative;
}
.full-screen{
  height: 100vh;
  .header{
    overflow: visible;
  }
}

.hide{
  display: none;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}
.btn{
  font-family:'Roboto-Medium';
  font-size:16px;
  color:#fff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 14px;
}
.copyright{
  font-family:'Roboto-Light';
  font-size:16px;
  color: #fff;
  opacity: .5;
}
.about__title{
  font-weight: normal;
  margin: 0;
}
.base-title {
  font-family: "BERNIERRegular";
  font-size: 35px;
  color: $road;
  position: relative;
  text-align: center;
}

//.flip{
//  transform: rotateY(180deg);
//}