@font-face {
  font-family: 'BERNIERregular';
  src: url('../fonts/bernier/BERNIERRegular-Regular.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BERNIERShade-Regular';
  src: url('../fonts/bernier/BERNIERShade-Regular.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/roboto/Roboto-BoldItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/roboto/Roboto-BoldItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/roboto/Roboto-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/roboto/Roboto-LightItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/roboto/Roboto-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../fonts/roboto/Roboto-MediumItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}