.header{
  position: relative;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  &__top{
    padding: 30px 30px 0;
    @include clearfix;
    z-index: 2;
    position: relative;
  }
  &__bg{
    background: url("../img/header-bg.jpg") no-repeat 50% 0;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__left,&__right{
    width: 50%;
    float: left;
  }
  &__right{
    float: right;
    text-align: right;
  }
  &__about-dev{
    z-index:1;
    text-align: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    &-wrap{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &__portfolio-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    svg{
      width: 1176px;
      height: 313px;
      opacity: .06;
      fill:#fff;
      @include tablet{
        display: none;
      }
    }
  }
  &__triangle{
    width: 100%;
    position: absolute;
    bottom: -4px;
    margin: 0 auto;
    @include tablet{
      bottom: -5px;
    }
    .header__link-arrow{
      position: absolute;
      left: 50%;
      top: 23%;
      transform: translateX(-50%) translateY(-50%);
      &:hover .link_arrow-down{
        opacity: 1;
        transform: translateY(15px);
      }
      @include phones{
        top: -50%;
      }
    }
    .link_arrow-down{
      width: 26px;
      height: 16px;
      opacity: 0.7;
      fill: #fff;
      transition: transform .35s ease;
    }
    .triangle-work{
      fill: #faf8f0;
    }
    .triangle-about{
      .left{
        fill: #efeee9;
      }
      .right{
        fill: #eeebdf;
        @include tablet{
          fill: #efeee9;
        }
      }
    }
  }
}
.about-dev{
  &__photo-wrap{
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__photo-img{
    width: 100%;
  }
  &__name{
    color: #fff;
    font-family: 'Roboto-Medium';
    font-size: 35px;
  }
  &__text{
    color: #fff;
    font-family:'Roboto-Light';
    font-size:16px;
    text-align: center;
    opacity: .8;
  }

}
.menu{
  display: none;
  background-color: rgba(0, 191, 165, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  &.active{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  }
  &__item{
    color: #fff;
    font-family: "BERNIERRegular";
    font-size: 63px;
    height: 2em;
    text-align: center;
  }
  &__link{
    color: #fff;
    display: inline-block;
    padding: 0 45px;
    position: relative;
    @include dashes
    @include dashtitle
    &:before,&:after{
      background-color: #fff;
      display: none;
    }
    &:hover{
      &:before,&:after{
        display: block;
      }
    }
  }
  &__hamburger{
    display: inline-block;
    & .hamburger__link{
      height: 38px;
      width: 40px;
      position: relative;
      z-index: 13;
      display: block;
      &.active{
        left:-16px;
        @include phones{
          left: 10px;
        }
        & .hamburger__icon{
          display: none;
        }
        &:before{
          transform: rotate(45deg);
          top:20px;

        }
        &:after{
          transform: rotate(-45deg);
          bottom:13px;

        }
      }
      &:before,&:after{
        content: "";
        background: #fff;
        border-radius: 2px;
        height: 5px;
        position: absolute;
        left: 0;
        width: 100%;
      }
      &:before{
        top: 0;
        transition-property: top, transform;
        transition: .2s ease-out;
      }
      &:after{
        bottom: 0;
        transition-property: bottom, transform;
        transition: .2s ease-out;
      }
    }
    & .hamburger__icon{
      background: #fff;
      border-radius: 2px;
      height: 5px;
      position: absolute;
      top: 16px;
      left: 0;
      width: 100%;
    }
    & .hamburger__svg{
      fill: #fff;
      max-width: 40px;
      max-height: 35px;
    }
  }
}

