.header{
  position: relative;
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  &__top{
    padding: 30px 30px 0;
    @include clearfix;
  }
  &__left,&__right{
    width: 50%;
    float: left;
  }
  &__right{
    float: right;
    text-align: right;
  }
  &__about-dev{
    z-index:2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &__portfolio-bg{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    svg{
      width: 1176px;
      height: 313px;
      opacity: .06;
      fill:#fff;
    }
  }
  &__triangle{
    width: 100%;
    position: absolute;
    bottom: -4px;
    margin: 0 auto;
    .header__link-arrow{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    .link_arrow-down{
      width: 26px;
      height: 16px;
      opacity: 0.7;
      fill: #fff;
    }
    .triangle-work{
      fill: #faf8f0;
    }
  }
}
.about-dev{
  &__photo-wrap{
    display: inline-block;
    width:141px;
    height: 141px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__photo-img{
    width: 100%;
  }
  &__name{
    color: #fff;
    font-family: 'Roboto-Medium';
    font-size: 35px;
  }
  &__text{
    color: #fff;
    font-family:'Roboto-Light';
    font-size:16px;
    text-align: center;
  }

}

.menu__list{
  display: none;
}
.menu__hamburger{
  display: inline-block;
}
.hamburger__svg{
  fill: #fff;
  max-width: 40px;
  max-height: 35px;
}