p.admin__title=title
		form.admin__form-about
			.form-about__wrap.frontend
				p.form-about__title Front-end
				label.form-about__label HTML
					input.form-about__input(type='text' name='html')
				label.form-about__label CSS
					input.form-about__input(type='text' name='css')
				label.form-about__label JavaScript
					input.form-about__input(type='text' name='js')
			.form-about__wrap.workflow
				p.form-about__title Workflow
				label.form-about__label Git	
					input.form-about__input(type='text' name='git')
				label.form-about__label Gulp
					input.form-about__input(type='text' name='gulp')
				label.form-about__label Bower
					input.form-about__input(type='text' name='bower')
			.form-about__wrap.backend
				p.form-about__title Backend
				label.form-about__label PHP	
					input.form-about__input(type='text' name='php')
				label.form-about__label Node.js
					input.form-about__input(type='text' name='node')
				label.form-about__label Mongo.db
					input.form-about__input(type='text' name='mongo')
			input.form-about__submit.btn(type='submit' name='submit')