block main	
		p.admin__title=title
		form.admin__form-blog
			p.form-blog__title Добавить запись
			input.form-blog__input(type='text' name='title' placeholder='Название')
			input.form-blog__input(type='text' name='date' placeholder='Дата')
			textarea.form-blog__textarea(name='text' placeholder='Содержание')
			input.form-blog__submit(type='submit' value='Добавить')
