.header__blog{
  height: 400px;
  background: url("../img/header-bg.jpg") no-repeat 50% 0;
  background-size: cover;
  @include widescreen{
    & .header__top{
      margin: 0 auto;
      max-width: 1140px;
      width: 100%;
    }
  }

  @include tablet{
    height: 510px;
  }
  @include phones{
    height: 560px;
  }
  .header__hero{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    .hero__title{
      color: #fff;
      font-size:63px;
      @include dashes
      @include dashtitle
      display: block;
      &:after,&:before{
        background-color: #fff;
      }
    }
    .hero__text{
      color: #fff;
    }
  }
  &-bg{
    position: absolute;
    z-index: -1;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .header__blog-svg{
      fill: #fff;
      height: 208px;
      opacity: .07;
    }
  }
  .header__triangle svg{
    fill: #fff;
  }
  .header__link-arrow{
    display: none;
    @include tablet{
      display: block;
    }
  }
}
.blog{
  flex: 1 0 auto;
  &-wrap{
    display: flex;
    margin: 0 auto 60px;
    max-width: 1560px;
  }
  &__left{
    flex: none;
    max-width: 28%;
    padding-top: 60px;
    width: 280px;
    @include tablet{
      display: none;
    }
  }
  &-nav{
    position: relative;
    text-align: right;
    &__list{

    }
    &__item{
      margin-bottom: 10px;
    }
    &__link{
      font-family:"Roboto-Regular";
      color: $asphalt;
      border-right: 3px solid transparent;
      display: block;
      padding: 8px 20px;
      &-active,&:hover{
        font-family:"Roboto-Bold";
        border-color: #00bfa5;
        color: #00bfa5;
      }
    }
  }
  &__right{
    padding-top: 60px;
    margin: 0 115px;
    max-width: 980px;
    @include tablet{
      margin: 0 30px;
    }
  }
  &__item{
    border-bottom: 5px solid rgba($road, 0.07);
    margin-bottom: 60px;
    padding-bottom: 60px;
    &:last-child{
      border-bottom: none;
      @include tablet{
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    @include phones{
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
  }
  &__title{
    font-family:"BERNIERregular";
    font-size:35px;
    color: $road;
    margin-bottom:30px;
    @include tablet{
      margin-bottom: 20px;
    }
  }
  &__data{
    color: #00bfa5;
    margin-bottom:25px;
    @include tablet{
      margin-bottom: 20px;
    }
  }

}